<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{258,0},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{516,0},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{258,258},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{516,258},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{0,516},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{258,516},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{516,516},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,258}</string>
                <key>spriteSourceSize</key>
                <string>{258,258}</string>
                <key>textureRect</key>
                <string>{{0,774},{258,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChangeEffect.png</string>
            <key>size</key>
            <string>{774,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbf31561cf04db7dc06e831bd9c51e37:2049b15240318e3ee70a8ae4e97dff4e:866795a2a2799b7db94b9754c0b4156b$</string>
            <key>textureFileName</key>
            <string>ChangeEffect.png</string>
        </dict>
    </dict>
</plist>
